# ACCESS LIST ITENS

In [9]:
# Exercise 1:
# L1 = ["apple", "banana", "cherry"]
# Print the second item in the list.
L1 = ["apple", "banana", "cherry"]
print(L1[1])

banana

In [10]:
# Exercise 2:
# L2 = [1, 5, 9, 12, 15]
# Print the last item in the list using negative indexing.
L2 = [1, 5, 9, 12, 15]
print(L2[-1])

15

In [1]:
# Exercise 3:
# L3 = ["cat", "dog", "bird", "fish", "snake"]
# Print the third, fourth, and fifth items from the list.

In [2]:
# Exercise 4:
# L4 = [10, 20, 30, 40, 50, 60, 70]
# Print the items from the beginning to the fourth item (not included).

In [3]:

# Exercise 5:
# L5 = ["red", "green", "blue", "yellow", "pink"]
# Print the items from "blue" to the end of the list.

In [4]:
# Exercise 6:
# L6 = [True, False, True, True, False]
# Using negative indexing, print the items from the fourth-to-last item to the second-to-last item.

In [5]:
# Exercise 7:
# L7 = [1.1, 2.2, 3.3, 4.4, 5.5]
# Check if the value 3.3 exists in the list and print the result.

In [6]:
# Exercise 8:
# L8 = ["a", "b", "c", "d", "e", "f"]
# Print the first item of the list.

In [7]:
# Exercise 9:
# L9 = [100, 200, 300, 400, 500]
# Print the second-to-last item of the list.

In [8]:
# Exercise 10:
# L10 = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
# Print the items from the second item to the fourth item.