# PYTHON SETS

`myset = {"apple", "banana", "cherry"}`

## SET
> Sets are used to store multiple items in a single variable.

A set is a collection which is unordered, unchangeable*, and unindexed.

> Note: Set items are unchangeable, but you can remove items and add new items.
> Sets are written with `curly brackets`.

> Note: Sets are unordered, so you cannot be sure in which order the items will appear.

In [ ]:
# Example
# Create a Set

thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

## SET ITEMS
Set items are unordered, unchangeable, and do not allow duplicate values.

## UNORDERED
Unordered means that the items in **a set do not have a defined order**.
Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

## UNCHANGEABLE
Set items are unchangeable, meaning that **we cannot change the items after the set has been created**.

> Once a set is created, you cannot change its items, but you can remove items and add new items.

## DUPLICATES NOT ALLOWED
Sets **cannot have two items with the same value**.

In [1]:
# Example
# Duplicte values will be ignored:

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'cherry', 'apple'}

**Note:** The values True and 1 are considered the same value in sets, and are treated as duplicates.

**Note:** The values False and 0 are considered the same value in sets, and are treated as duplicates.

In [3]:
thisset = {"apple", "banana", "cherry", False,0, True,1}
print(thisset)

{False, True, 'banana', 'cherry', 'apple'}

## GET THE LENGTH OF A SET

To determine how many items a set has, use the `len()` function.

In [4]:
thisset = {"apple", "banana", "cherry", False,0, True,1}
print(len(thisset))

5

## DIFFERENT DATA TYPES ARE ALLOWED

Set items can be of any data type.

In [5]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
set4 = {"abc", 34, True, 40, "male"}

print(set1)
print(set2)
print(set3)
print(set4)

{'banana', 'cherry', 'apple'}
{1, 3, 5, 7, 9}
{False, True}
{True, 34, 'abc', 'male', 40}

## TYPE()

> From Python's perspective, sets are defined as objects with the data type 'set':

In [6]:
# Example
# What is the data type of a set?

myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

## THE SET() CONSTRUCTOR

> It is also possible to use the `set()` constructor to make a set.

In [7]:
# Example
# Using the set() constructor to make a set:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'cherry', 'apple'}

# PYTHON - ACCESS SET ITEMS

## ACCESS ITEMS

> You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [8]:
# Example
# Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

In [9]:
# Example
# Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [10]:
# Example
# Check if "banana" is NOT present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

## CHANGE ITEMS

> Once a set is created, **you cannot change its items**, but you can add new items.

# ADD SET ITEMS


> Once a set is created, you cannot change its items, but you can add new items.

To add one item to a set use the `add()` method.

In [1]:
# Example
# Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}
thisset.add("orange")

print(thisset)

{'cherry', 'apple', 'orange', 'banana'}

## ADD SETS
> To add items from another set into the current set, use the `update()` method.

In [2]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'cherry', 'banana', 'papaya', 'pineapple', 'apple', 'mango'}

## ADD ANY ITERABLE

> The object in the `update()` method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [3]:
# Example
# Add elements of a list to at set:

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'kiwi', 'apple', 'orange', 'banana'}

# REMOVE SET ITEMS

## REMOVE ITEM
To remove an item in a set, use the `remove()`, or the `discard()` method.

In [4]:
# Example
# Remove "banana" by using the remove() method:

thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

**Note:** If the item to remove does not exist, `remove()` will raise **an error**.

In [5]:
# Example
# Remove "banana" by using the discard() method:

thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'cherry', 'apple'}

**Note:** If the item to remove does not exist, `discard()` will **NOT** raise an error.

You can also use the `pop()` method to remove an item, **but this method will remove a random item**, so you cannot be sure what item that gets removed.

The return value of the `pop()` method is the removed item.

In [6]:
#Example
# Remove a random item by using the pop() method:

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'apple', 'banana'}

**Note:** Sets are unordered, so when using the `pop()` method, you do not know which item that gets removed.

In [7]:
# Example
# The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [ ]:
# Example
# The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

# LOOP SETS
## LOOP ITEMS

You can loop through the set items by using a for loop:

In [9]:
# Example
# Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
apple
banana